html{
    margin: 0px;
}
body{
    height: 100vh;
}

header{
    background-color: beige;
    width: 100%;

}



header .dropdown{
    float: right;
}

.chart{
    flex-basis: 55%;
    max-width: 43%;
    /* The following ensures that the chart is centered both horizontally and vertically*/
    display: flex;
    align-items: center; 
    justify-content: center;
}
canvas{
    position: absolute;
}

.flex-container{
    display: flex;
    background-color: DodgerBlue;
}
