@font-face {
    font-family: NeuMontrealBold;
    src: url("/Fonts/PPNeueMontreal-Bold.otf");
}

@font-face {
    font-family: NeuMontreal;
    src: url("/Fonts/PPNeueMontreal-Book.otf");
}

body{
    position: relative;
    height: 100vh;
    width:100%;
    margin: 0px;
}

header{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;

}

header h1 {
   margin: 0%; 
   font-family: NeuMontrealBold;
   text-align: center;
   color: white;
   padding-top: 20px;
   padding: 10px;
   font-size: 50px;
   
}

#credits,#playlist{
    
    background-color: black;
    color: white;
    padding-bottom: 10px;
    border: 4px,solid,white;
    font-family: NeuMontreal;
    margin-left: auto;
}

#credits:hover,#playlist:hover{
    background-color: grey;
}
main{
    background-color: #f9f9f9;
    height: 50%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 2rem;
}

#footer-text{
    
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: NeuMontreal;
    
}
